<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="/">
            <img
                    src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
                    height="16"
                    alt="MDB Logo"
                    loading="lazy"
                    style="margin-top: -1px;"
            />
            <small>MusicLoud</small>
        </a>

        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Upload</a>
                </li>



            </ul>
            <!-- Left links -->
            <div class="w-100 p-1 px-4" sec:authorize="isAuthenticated()">
                <form class="input-group w-auto my-auto d-none d-sm-flex">
                    <input
                            autocomplete="off"
                            type="search"
                            class="form-control rounded"
                            placeholder="Search"
                            style="min-width: 125px;"
                    />
                    <span class="input-group-text border-0 d-none d-lg-flex"
                    ><i class="fas fa-search"></i
                    ></span>
                </form>
            </div>
            <!-- USER -->
            <div class="dropdown" sec:authorize="isAuthenticated()">
                <a
                        class="dropdown-toggle d-flex align-items-center hidden-arrow"
                        href="#"
                        id="navbarDropdownMenuAvatar"
                        role="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                >
                    <img
                            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                            class="rounded-circle"
                            height="25"
                            alt="Black and White Portrait of a Man"
                            loading="lazy"
                    />
                    <strong class="d-none d-sm-block ms-1 text-light"><span sec:authentication="name"></span></strong>
                </a>
                <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuAvatar"
                >
                    <li>
                        <a class="dropdown-item" th:href="@{/profile}">My profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Settings</a>
                    </li>
                    <li>
                        <!--                <a class="dropdown-item" href="#">Logout</a>-->
                        <form th:action="@{/logout}" th:method="post">
                            <input class="dropdown-item" type="submit" value="Logout">
                        </form>
                    </li>
                </ul>
            </div>

            <div class="d-flex align-items-center" sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="btn btn-link px-3 me-2">
                    Login
                </a>
                <a th:href="@{/register}" class="btn btn-primary me-3">
                    Sign up for free
                </a>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>