
<div class="audio-player fixed-player">
    <div class="timeline">
        <div class="progress" style="width: 0.408818%;"></div>
    </div>
    <div class="controls">
        <div class="play-container">
            <div class="toggle-play play">
            </div>
        </div>
        <div class="time">
            <div class="currentTime">0:00</div>
            <div class="divider">/</div>
            <div class="length">1:44</div>
        </div>
        <div class="name">Music Song</div>
        <!--     credit for icon to https://saeedalipoor.github.io/icono/ -->
        <div class="volume-container">
            <div class="volume-button">
                <div class="volume icono-volumeMedium"></div>
            </div>

            <div class="volume-slider">
                <div class="volume-percentage"></div>
            </div>
        </div>
    </div>
</div>
