
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home - musiCloud</title>
    <th:block th:replace="/fragments/head"></th:block>
    <script type="module" th:src="@{/src/app.js}"></script>

</head>
<body class="bg-dark bg-opacity-10">
<th:block th:replace="/fragments/nav"></th:block>
<main>

    <section id="" class="">
        <section>
            <img src="https://img.discogs.com/dVuWG0JD254HlrRwEAYY4kiQ0Ys=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-7034291-1455617185-2934.jpeg.jpg" width="250px" height="250px">
            <div id="basePlaylist-details"><cite class="title">Blurryface</cite>
                <address><a rel="artist">Twenty One Pilots</a></address>
            </div>
        </section>
        <section>
            <table id="current-basePlaylist">
                <thead>
                <tr>
                    <th>
                    </th>
                    <th>Song</th>
                    <th>Artist</th>
                    <th></th>
                </tr>

                </thead>
                <tbody><tr class="song current" data-track-number="1" data-source="Heavydirtysoul.mp3">
                    <td><span class="track-number">1</span></td>
                    <td width="65%"><cite class="title">Heavydirtysoul</cite></td>
                    <td width="35%">
                        <address><a rel="artist">Twenty One Pilots</a></address>
                    </td>
                    <td><span class="runtime">0:00</span></td>
                </tr>

                <tr class="song" data-track-number="2" data-source="Stressed Out.mp3">
                    <td><span class="track-number">2</span></td>
                    <td width="65%"><cite class="title">Stressed Out</cite></td>
                    <td width="35%">
                        <address><a rel="artist">Twenty One Pilots</a></address>
                    </td>
                    <td><span class="runtime">0:00</span></td>
                </tr>

                <tr class="song" data-track-number="3" data-source="Ride.mp3">
                    <td><span class="track-number">3</span></td>
                    <td width="65%"><cite class="title">Ride</cite></td>
                    <td width="35%">
                        <address><a rel="artist">Twenty One Pilots</a></address>
                    </td>
                    <td><span class="runtime">0:00</span></td>
                </tr>


                </tbody></table>
        </section>



    </section>

</main>
<th:block th:replace="/fragments/player"></th:block>
</body>
</html>