<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:replace="/fragments/head"></th:block>
  <title>Title</title>
</head>
<body class="bg-dark bg-opacity-10">
<th:block th:replace="/fragments/nav"></th:block>


    <th:block th:replace="/fragments/admin_sidenav"></th:block>
<main style="margin-top: 58px">
  <div class="container pt-4">
    <!-- Section: Main chart -->


    <!--Section: Statistics with subtitles-->
    <section th:object="${dashboardDto}">
      <div class="row">
        <div class="col-xl-6 col-md-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between p-md-1">
                <div class="d-flex flex-row">
                  <div class="align-self-center">
                    <i class="fas fa-user text-info fa-3x me-4"></i>
                  </div>
                  <div>
                    <h3>Total Users</h3>
                  </div>
                </div>
                <div class="align-self-center">
                  <h2 class="h1 mb-0" th:text="*{users}">0</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between p-md-1">
                <div class="d-flex flex-row">
                  <div class="align-self-center">
                    <i class="fas fa-user-plus text-success fa-3x me-4"></i>
                  </div>
                  <div>
                    <h3>New Users</h3>
                  </div>
                </div>
                <div class="align-self-center">
                  <h2 class="h1 mb-0" th:text="*{newUsers}">0</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-md-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between p-md-1">
                <div class="d-flex flex-row">
                  <div class="align-self-center">
                    <i class="fas fa-play text-primary fa-3x me-4"></i>
                  </div>
                  <div>
                    <h3>Total Songs</h3>
                  </div>
                </div>
                <div class="align-self-center">
                  <h2 class="h1 mb-0" th:text="*{songs}">0</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between p-md-1">
                <div class="d-flex flex-row">
                  <div class="align-self-center">
                    <i class="fas fa-list-ul text-primary fa-3x me-4"></i>
                  </div>
                  <div>
                    <h3>Total Playlists</h3>
                  </div>
                </div>
                <div class="align-self-center">
                  <h2 class="h1 mb-0" th:text="*{playlists}">0</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Statistics with subtitles-->
  </div>
</main>

</body>
</html>