<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="/fragments/head"></th:block>
    <title>Title</title>
</head>
<body>
<th:block th:replace="/fragments/nav"></th:block>
<section class="w-100 px-4 py-5 gradient-custom-2" style="border-radius: .5rem .5rem 0 0;">

    <div class="row d-flex justify-content-center">
        <div class="col col-lg-9 col-xl-8">
            <div class="col col-md-9 col-lg-7 col-xl-3" style="display: inline-block;">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="d-flex text-black">
                            <div class="flex-shrink-0">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" alt="Generic placeholder image" class="img-fluid" style="width: 100px; border-radius: 10px;">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5 class="mb-1">Danny McLoan</h5>
                                <p class="mb-2 pb-1" style="color: #2b2a2a;">Senior Journalist</p>

                                <div class="">

                                    <button type="button" class="btn btn-primary flex-grow-1">Follow</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

</body>
</html>