<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <title>Login - musiCloud</title>

</head>
<body class="bg-dark bg-opacity-10" style="margin-top: 88px">
<th:block th:replace="fragments/nav"></th:block>
<div class="text-center my-5">
    <img src="https://res.cloudinary.com/dtzjbyjzq/image/upload/v1657223456/images/1-logo-v2_qqr2yo.png" alt="logo" width="300">
</div>

<div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <h3 class="mb-5">Login</h3>

                    <p th:if="${bad_credentials}" class="errors alert alert-danger">
                        Invalid username or password.
                    </p>
                    <form th:action="@{/login}" th:method="post">

                        <div class="form-outline mb-4">
                            <input type="email" id="email" class="form-control form-control-lg" th:classappend ="${username != null && username.length > 0} ? active" th:value="${username}" name="username">
                            <label class="form-label" for="email" style="margin-left: 0px;">Email</label>
                            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 43.2px;"></div><div class="form-notch-trailing"></div></div></div>

                        <div class="form-outline mb-4">
                            <input type="password" id="password" class="form-control form-control-lg" name="password">
                            <label class="form-label" for="password" style="margin-left: 0px;">Password</label>
                            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div></div>
                        <a th:href="@{/request-reset-password}">Forgot password?</a>

                        <button class="btn btn-primary btn-lg btn-block text-dark my-4" type="submit" style="background-color: #ffac44;">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    </body>
</html>