<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile - musiCloud</title>
    <th:block th:replace="/fragments/head"></th:block>
    <link rel="stylesheet" th:href="@{/css/img.upload.css}">

</head>
<body class="bg-dark bg-opacity-10">
<th:block th:replace="/fragments/nav"></th:block>

<section class="w-100 px-4 py-5 gradient-custom-2" style="border-radius: .5rem .5rem 0 0;">

    <div class="row d-flex justify-content-center">
        <div class="col col-lg-9 col-xl-8">
            <div class="card">
                <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                    <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                        <img th:src="${user.imageUrl}" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                        <button style="z-index: 1;" type="button" class="btn-dark" data-mdb-toggle="modal" data-mdb-target="#editProfileModal">Edit Profile</button>
                    </div>
                    <div class="ms-3" style="margin-top: 130px;">
                        <h5 th:text="${user.getFullName}">Name</h5>
                        <p>Role</p>
                    </div>
                </div>
                <div class="p-4 text-black" style="background-color: #f8f9fa;">
                    <div class="d-flex justify-content-end text-center py-1">
                        <div>
                            <p class="mb-1 h5">253</p>
                            <p class="small text-muted mb-0">Songs</p>
                        </div>
                        <div class="px-3">
                            <p class="mb-1 h5">1026</p>
                            <p class="small text-muted mb-0">Followers</p>
                        </div>
                        <div>
                            <p class="mb-1 h5">478</p>
                            <p class="small text-muted mb-0">Following</p>
                        </div>
                    </div>
                </div>
                <div class="card-body p-4 text-black">

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <p class="lead fw-normal mb-0">Playlists</p>
                        <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
                    </div>
                    <div class="row g-2">
                        <div class="col mb-2">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp" alt="image 1" class="w-100 rounded-3">
                        </div>
                        <div class="col mb-2">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp" alt="image 1" class="w-100 rounded-3">
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp" alt="image 1" class="w-100 rounded-3">
                        </div>
                        <div class="col">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp" alt="image 1" class="w-100 rounded-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal top fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileModalLabel">Edit your Profile</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:method="post" th:action="@{/profile/edit}" th:object="${user}" enctype="multipart/form-data">
                    <div class="row mb-4 justify-content-center">
<!--                        <div style="width: 22rem;">-->
<!--                            <label class="form-label" for="customFile">Upload profile photo</label>-->
<!--                            <input type="file" class="form-control" id="customFile" name="image">-->
<!--                        </div>-->
                        <div class="avatar-upload circle">
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" name="image"/>
                                <label class="fas fa-edit circle"  for="imageUpload"></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" class="circle" th:style="'background-image: url('+ ${#authentication.principal.imageUrl}+ ');'">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form6Example1" class="form-control" name="firstName" th:classappend ="*{firstName != null && firstName.length > 0} ? active" th:value="*{firstName}">
                                <label class="form-label" for="form6Example1" style="margin-left: 0px;">First name</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68.8px;"></div><div class="form-notch-trailing"></div></div></div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form6Example2" class="form-control" name="lastName" th:classappend ="*{lastName != null && lastName.length > 0} ? active" th:value="*{lastName}">
                                <label class="form-label" for="form6Example2" style="margin-left: 0px;">Last name</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div></div>
                        </div>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="form6Example4" class="form-control" name="username" th:classappend ="*{username != null && username.length > 0} ? active" th:value="*{username}">
                        <label class="form-label" for="form6Example4" style="margin-left: 0px;">Username</label>
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 55.2px;"></div><div class="form-notch-trailing"></div></div></div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Close
                    </button>

                    <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
                </div>



            </div>
        </div>
    </div>
</section>
</body>
</html>