<!DOCTYPE html>
<html lang="en">
<head>
  <title>Title</title>
  <th:block th:replace="/fragments/head"></th:block>
</head>
<body>
<th:block th:replace="/fragments/nav"></th:block>

<section class="w-100 px-4 py-5 gradient-custom-2" style="border-radius: .5rem .5rem 0 0;">

  <div class="row d-flex justify-content-center">
    <div class="col-lg-8 mb-4">

      <section class="w-100 p-4 text-center pb-4">
        <section>

          <!-- Pills navs -->
          <ul class="nav nav-pills nav-justified mb-3" id="ex-3" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="ex-3-tab-2" data-mdb-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">Profile</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="ex-3-tab-3" data-mdb-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">Account</a>
            </li>
          </ul>
          <!-- Pills navs -->

          <!-- Pills content -->
          <div class="tab-content" id="ex-3-content">
            <div class="tab-pane fade" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
              <form>
                <div class="row mb-4 justify-content-center">
                  <div style="width: 22rem;">
                    <label class="form-label" for="customFile">Upload profile photo</label>
                    <input type="file" class="form-control" id="customFile">
                  </div>
                </div>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form6Example1" class="form-control">
                      <label class="form-label" for="form6Example1" style="margin-left: 0px;">First name</label>
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68.8px;"></div><div class="form-notch-trailing"></div></div></div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form6Example2" class="form-control">
                      <label class="form-label" for="form6Example2" style="margin-left: 0px;">Last name</label>
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div></div>
                  </div>
                </div>

                <!-- Text input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form6Example4" class="form-control">
                  <label class="form-label" for="form6Example4" style="margin-left: 0px;">Username</label>
                  <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 55.2px;"></div><div class="form-notch-trailing"></div></div></div>
                <button type="button" class="btn btn-primary btn-block mb-4">Save</button>
              </form>
            </div>
            <div class="tab-pane fade active show" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
              <form>
                <div class="form-outline mb-4">
                  <input type="email" id="form6Example5" class="form-control">
                  <label class="form-label" for="form6Example5" style="margin-left: 0px;">Email</label>
                  <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 40px;"></div><div class="form-notch-trailing"></div></div></div>

                <!-- Number input -->
                <div class="form-outline mb-4">
                  <input type="password" id="oldPassword" class="form-control">
                  <label class="form-label" for="form6Example4" style="margin-left: 0px;">Old password</label>
                  <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 55.2px;"></div><div class="form-notch-trailing"></div></div></div>

                <!-- Message input -->
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="password" id="password" class="form-control">
                      <label class="form-label" for="form6Example1" style="margin-left: 0px;">New password</label>
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68.8px;"></div><div class="form-notch-trailing"></div></div></div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="password" id="confirmPassword" class="form-control">
                      <label class="form-label" for="form6Example2" style="margin-left: 0px;">Confirm password</label>
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div></div>
                  </div>
                </div>
                <!-- Submit button -->
                <button type="button" class="btn btn-primary btn-block mb-4">Save</button>
              </form>
            </div>

          </div>
          <!-- Pills content -->
        </section>

        <form>

          <!-- Email input -->

        </form>
      </section>

    </div>
  </div>
  <!--/.Card-->
</section>
</body>
</html>


