<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="/fragments/head"></th:block>
    <title>Register - musiCloud</title>

</head>
<body class="bg-dark bg-opacity-10">
<th:block th:replace="/fragments/nav"></th:block>

<div class="text-center my-5">
    <img src="https://res.cloudinary.com/dtzjbyjzq/image/upload/v1657223456/images/1-logo-v2_qqr2yo.png" alt="logo" width="300">
</div>

<div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <h3 class="mb-5">Register</h3>
                    <form th:action="@{/register}" th:method="post" th:object="${registerDto}">

                    <div class="form-outline mb-4">
                        <input type="email" id="email" class="form-control form-control-lg" th:classappend ="*{email != null && email.length > 0} ? active" th:field="*{email}" th:errorclass="is-invalid">
                        <label class="form-label" for="email" style="margin-left: 0px;">Email</label>
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 43.2px;"></div><div class="form-notch-trailing"></div></div>
                        <div class="invalid-feedback mb-2" th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email').get(0)}">Error</div></div>


                    <div class="form-outline mb-4">
                        <input type="text" id="username" class="form-control form-control-lg" th:classappend ="*{username != null && username.length > 0} ? active" th:field="*{username}" th:errorclass="is-invalid">
                        <label class="form-label" for="username" style="margin-left: 0px;">Username</label>
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 43.2px;"></div><div class="form-notch-trailing"></div></div>
                        <div class="invalid-feedback">Username is required.</div></div>


                    <div class="form-outline mb-4">
                        <input type="password" id="password" class="form-control form-control-lg" th:field="*{password}" th:errorclass="is-invalid">
                        <label class="form-label" for="password" style="margin-left: 0px;">Password</label>
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div>
                        <div class="invalid-feedback">Password must be between 8 and 32 characters long.</div></div>

                    <div class="form-outline mb-4">
                        <input type="password" id="confirmPassword" class="form-control form-control-lg" th:field="*{confirmPassword}" th:errorclass="is-invalid">
                        <label class="form-label" for="confirmPassword" style="margin-left: 0px;">Confirm Password</label>
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}" th:text="${#fields.errors('confirmPassword').get(0)}">Error</div></div>


                    <button class="btn btn-primary btn-lg btn-block text-dark" type="submit" style="background-color: #ffac44;">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>