<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="/fragments/head"></th:block>
    <title>Reset password - musiCloud</title>

</head>
<body class="bg-dark bg-opacity-10" style="margin-top: 88px">
<th:block th:replace="/fragments/nav"></th:block>
<div class="text-center my-5">
    <img src="https://res.cloudinary.com/dtzjbyjzq/image/upload/v1657223456/images/1-logo-v2_qqr2yo.png" alt="logo" width="300">
</div>

<div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <h3 class="mb-5">Reset your password</h3>

                    <p >
                        Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.
                    </p>

                        <a th:href="@{/login}" class="btn btn-primary btn-lg btn-block text-dark" type="submit" style="background-color: #ffac44;">Return to login</a>

                </div>
            </div>
        </div>
    </div>
</div>

    </body>
</html>