<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload - musiCloud</title>
    <th:block th:replace="~{/fragments/head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/img.upload.css}">

</head>
<body class="bg-dark bg-opacity-10">
<th:block th:replace="~{/fragments/nav}"></th:block>

<div class="row mb-4 justify-content-center">
    <div class="avatar-upload circle">
        <div class="avatar-edit">
            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" name="image"/>
            <label class="fas fa-edit circle"  for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
            <div id="imagePreview" class="circle" th:style="'background-image: url('+ ${#authentication.principal.imageUrl}+ ');'">
            </div>
        </div>
    </div>
</div>
</body>
</html>